@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:ital,wght@1,100&display=swap');

.landingPage{
  min-height: 100vh;
  background-color: #0e0e10;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.formContainer{
  min-height: 100vh;
}

.formSideImage{
  background-image: url('./assets/formPic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formSideText{
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
}

.hero{
  min-height: 100vh;
}

.heroHeadingText{
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white; 
}

.heroText{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.heroImage{
  height: 80vh;
}

.btn{
  background-color: #de6622;
  color: white;
}