@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

.landingPage{
  min-height: 100vh;
  background-image: url('./assets/homeBackground.jpg'); 
}


section{
  padding: 2rem 9%;
}

.categoryPage{
  min-height: 100vh;
  background-image: url('./assets/homeBackground.jpg');
  color: #cda45e;
}

.categoryPage h1{
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
}

.categoryPage h1 span{
  color: red;
}

.categoryPage .categories .boxContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.categoryPage .categories .boxContainer .box{
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
  cursor: pointer;
  border-radius: .5rem;
}

.categoryPage .categories .boxContainer .box .image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.categoryPage .categories .boxContainer .box .content{
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.categoryPage .categories .boxContainer .box .content img{
  margin: 1.5rem 0;
}

.categoryPage .categories .boxContainer .box .content h3{
  font-size: 2.5rem;
  color: #333;
}

.categoryPage .categories .boxContainer .box .content p{
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.categoryPage .categories .boxContainer .box:hover .image{
  top: 0;
}

.categoryPage .categories .boxContainer .box:hover .content{
  transform: translateY(100%);
}

.landingPage .home{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landingPage .home .content{
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.landingPage .home .image{
  flex: 1 1 40rem;
}

.landingPage .home img{
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  
  0%, 100%{
    transform: translateY(0rem);
  }

  50%{
    transform: translateY(3rem);
  }

}

.orderPage{
  min-height: 100vh;
  background-image: url('./assets/homeBackground.jpg');
}
.removeBtn{
  cursor: pointer;
}

.formPage{
  background-image: linear-gradient( rgba(0,0,0,0.95), rgba(0,0,0,0.65), rgba(0,0,0,0.38), rgba(0,0,0,0) ), url('./assets/dateReservation.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 110vh;
  margin: -20px 0 50px;
}

.formPage form{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.formPage .formInput{
  background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.formPage .pageContainer{
  background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 868px;
	max-width: 100%;
	min-height: 580px;
  opacity: .8;
}

.formPage .formContainer{
  position: absolute;
	top: 0;
	height: 100%;
}

.formPage .signUpContainer{
  left: 0;
	width: 50%;
	z-index: 2;
}

.formPage .formOverlayContainer{
  position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}

 .formOverlayContainer .formOverlay{
  background-image: url('./assets/searchMenuImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.reservationPage{
  background-image: url('./assets/homeBackground.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 110vh;
  margin: -20px 0 50px;
  overflow: hidden;
}

.reservationPage .reservationTitle{
  font-size: 45px;
  text-transform: uppercase;
  border-left: 14px solid rgba(255, 235, 59, 0.78);
  padding-left: 12px;
  margin: 18px 8px;
}

.reservationContainer{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 868px;
  max-width: 100%;
  min-height: 580px;
}

.reservationContainer .sideContainer{
  position: absolute;
  top: 0;
  height: 100%;
}

.reservationContainer .dateTimePickerContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

.reservationContainer .dateTimePicker{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.overlayContainer{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.reservationContainer .overlay{
  background-image: url('./assets/image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

.cartContainer table{
  width: 100%;
  border-collapse: collapse;
}

.cartContainer table th{
  text-align: left;
  padding: 5px;
  background: #cda45e;
}

.cartContainer table td{
  padding: 10px 5px;
}

.totalPrice{
  display: flex;
  justify-content: flex-end;
}

.totalPrice table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 250px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}

.paymentSection{
  display: flex;
  justify-content: flex-end;
}

.customerHomePage{
  min-height: 100vh;
  background-image:  url('./assets/image2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.menuPage{
  min-height: 100vh;
  background-image: url('./assets//homeBackground.jpg');
}

.menuContainer .menuTabs{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menuContainer h1{
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
}

.menuContainer h1 span{
  color: red;
}

.menuContainer .boxContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.menuContainer .boxContainer .box{
  padding: 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}

.menuContainer .boxContainer .box img{
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
}

.menuContainer .boxContainer .box .price{
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: red;
  color: #fff;
  font-size: 2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
}


.menuContainer .boxContainer .box h3{
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.menuContainer .boxContainer .box h3{
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.orderTitle h2{
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font: "Poppins", sans-serif;
}

.orderTitle h2::after{
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}

.orderTitle p{
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}

.menuPage h2::after{
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}

.menuPage p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}

.menuFilters{
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.menuFilters li{
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px 10px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  margin-bottom: 10px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
  font-family: "Playfair Display", serif;
}

.menuList img{
  vertical-align: middle;
}

.menuList .menuInfo{
  vertical-align: middle;
}


.welcomeNote{
  width: 300px;
  height: 595px;
  background-color: #0e0e10;
  opacity: 0.9;
  padding: 55px;
}

.card{
  width: 20rem;
}

.hero{
  min-height: 100vh;
}

.heroHeadingText{
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white; 
}

.heroText{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.heroImage{
  height: 80vh;
}

.landingPage btn{
  background-color: #de6622;
  color: white;
}

.card img{
  height: 12rem;
}

.errorPage{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #6a89cc, #b8e994);
}

.errorContainer{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;
}

.errorContainer h1{
  font-size: 250px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: url('./assets/404BackgroundImage.jpg') center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.apiErrorText{
  font-size: 35px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: url('./assets/404BackgroundImage.jpg') center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.ticketPage{
  background-image: url('./assets/homeBackground.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Inknut Antiqua', serif;
  font-family: 'Ravi Prakash', cursive;
  font-family: 'Lora', serif;
  font-family: 'Indie Flower', cursive;
  font-family: 'Cabin', sans-serif;
	height: 110vh;
	margin: -20px 0 50px;
}


.ticketContainer{
  background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 868px;
	max-width: 100%;
	min-height: 580px;
}



.ticketPage h1{
  font-size: 45px;
  text-transform: uppercase;
  border-left: 14px solid rgba(255, 235, 59, 0.78);
  padding-left: 12px;
  margin: 18px 8px;
}

.paymentPage{
  background-image: url('./assets/homeBackground.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Inknut Antiqua', serif;
  font-family: 'Ravi Prakash', cursive;
  font-family: 'Lora', serif;
  font-family: 'Indie Flower', cursive;
  font-family: 'Cabin', sans-serif;
	height: 110vh;
	margin: -20px 0 50px;
}

.paymentPage h1{
  font-size: 45px;
  text-transform: uppercase;
  border-left: 14px solid rgba(255, 235, 59, 0.78);
  padding-left: 12px;
  margin: 18px 8px; 
}

.paymentPage h2{
  font-weight: bold;
  margin: 0;
}

.paymentPage button{
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.paymentPage button:active{
  transform: scale(0.95);
}

.paymentPage button:focus{
  outline: none;
}

.paymentPage button .ghost{
  background-color: transparent;
	border-color: #FFFFFF;
}

.paymentPage .paypal{
  background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.paymentPage .mpesa{
  background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.paymentPage .paymentContainer{
  background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.paymentPage .paymentContainer .paymentDetailsContainer{
  position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.paymentPage .paymentContainer .paypalContainer{
  left: 0;
	width: 50%;
	z-index: 2;
}

.paymentPage .paymentContainer .rightPanelActive .paypalContainer{
  transform: translateX(100%);
}

.paymentPage .paymentContainer .mpesaContainer{
  left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}


.paymentPage .paymentContainer .overlayContainer{
  position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}



.paymentContainer .pageContainer .overlayContainer .overlay{
  background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


.dashboardPage{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font: 'Poppins', sans-serif; 
  background-color: #fff; 
}

.dashboardPage .mainContent{
  margin-left: 345px;

}

.sidebar{
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #cda45e;
  z-index: 100;
}

.sidebar .sidebarBrand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #FFF;
}

.sidebar .sidebarBrand span{
  display: inline-block;
  padding-right: 1rem;
}

.sidebar .sidebarMenu{
  margin-top: 1rem;
}

.sidebar .sidebarMenu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
  list-style: none;
}

.sidebar .sidebarMenu a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}

.sidebarMenu a{
  padding-left: 1rem;
  display: block;
  color: #FFF;
  font-size: 1.1rem;
}

.dashboardPage header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
}

.dashboardPage header .userWarpper{
  display: flex;
  align-items: center;
}

.dashboardPage header .userWarpper small{
  display: inline-block;
  margin-top: -3px !important;
}

.dashboardPage header .userWarpper h4{
  margin-bottom: 0rem !important;
}

.dashboardPage header h2{
  color: #555;
}

.dashboardPage header label span{
  font-size: 1.7rem;
  padding-right: 1rem;
}

.dashboardPage main{
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background-color: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.dashboardPage main .dashboardCards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.dashboardPage main .dashboardCards .singleCard{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
}

.dashboardPage main .dashboardCards .singleCard div:first-child span{
  color: grey; 
}

.dashboardPage main .dashboardCards .singleCard div:last-child span{
  font-size: 3rem;
  color: #cda45e;
}

.dashboardPage main .dashboardCards .singleCard:last-child{
  background: #cda45e;
}

.dashboardPage main .dashboardCards .singleCard:last-child h1,
.dashboardPage main .dashboardCards .singleCard:last-child div:first-child span,
.dashboardPage main .dashboardCards .singleCard:last-child div:last-child span{
  color: #fff;
}



